/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    width: 80%;
    /* Adjust width for responsiveness */
    min-width: 300px;
    /* Ensure a minimum width for smaller screens */
    max-width: 800px;
    /* Set a maximum width for larger screens */
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    background: rgb(12, 166, 177);
    padding-bottom: 60px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* Timer Display */
.timer-display {
    width: 100%;
    background: rgb(201, 223, 223);
    padding: 40px 0;
    font-family: "Macondo", cursive;
    color: rgb(16, 2, 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(241, 234, 234, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Laps */

.laps {
<<<<<<< HEAD
    text-align: center;
    color: black;
    margin-top: 15px;
    text-decoration: none;
    font-size: 2rem;
    font-family: "Macondo", cursive;
    height: 6rem;
    /* Adjust the height as needed */
    overflow-y: auto;
    /* Enable vertical scrolling */
    scrollbar-color: #a5bab9 #d6dddd;
    scrollbar-width: 3rem;
    scroll-behavior: smooth;
=======
        text-align: center;
        color: black;
        margin-top: 15px;
        text-decoration: none;
        font-size: 2rem;
        font-family: "Macondo", cursive;
        height: 6rem; /* Adjust the height as needed */
        overflow-y: auto;/* Enable vertical scrolling */
        scrollbar-color: #a5bab9 #d6dddd;
        scrollbar-width: 3rem;
        scroll-behavior: smooth;
>>>>>>> 20ea2ab2c8ab024f86b52ec32cbd11a7107a2d46



}


/* Action Buttons */
.action {
    width: 85%;
    margin: 60px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* Adjust column width for responsiveness */
    grid-gap: 30px;
<<<<<<< HEAD
    font-family: "Macondo", cursive;
=======
font-family: "Macondo", cursive;
>>>>>>> 20ea2ab2c8ab024f86b52ec32cbd11a7107a2d46
}

.action button {
    padding: 10px 20px;
<<<<<<< HEAD
    font-family: "Macondo", cursive;
=======
font-family: "Macondo", cursive;
>>>>>>> 20ea2ab2c8ab024f86b52ec32cbd11a7107a2d46
    background-color: #fff;
    color: #141313;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

button:hover {
    background-color: #a7eeee;
    color: #062720;
    border: 3px solid #1e5a5f;
    padding: 7px 17px;
}